$color-amber: #FFC000;
$color-white: rgb(255, 255, 255);
$color-gamboge: #CC9A00;
$color-sweet-corn: #fff1c7;
$color-range-peel: #FF9900;
$color-black: rgba(0, 0, 0);








$color-white-50: rgb(255, 255, 255);
$color-black-50: rgba(0, 0, 0, 0.5);


//TYPOGRAPHY
$ff-play: "Play", sans-serif;
//VIEWPORT
$vp-tablet: 1023px;
$vp-mobile: 767px;
